In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("Hello world")

Hello world

In [3]:
import numpy

In [4]:
x = 10

In [5]:
print(x)

10

In [6]:
x = "Coding blocks"

In [7]:
print(x)

Coding blocks

In [8]:
x = False

In [9]:
x = 9.764

In [10]:
print(x)

9.764

In [11]:
x = 2 + 3j

In [12]:
print(x)

(2+3j)

In [13]:
x = None

In [14]:
print(x)

None

In [17]:
if(10 < 30):
    print("Coding")
    print("Blocks")
    x = 10
    y = 90
    if(70 > 60):
        print("BML Mujal")

Coding
Blocks
BML Mujal

In [18]:
if(False):
    print("Nothing")
else:
    print("Everything")

Everything

In [19]:
if(10>30):
    print("BML")
elif(6<10):
    print("Munjal")
else:
    print("Nothing")

Munjal

In [20]:
if True:
    print("Hy")

Hy

In [21]:
True and False

False

In [22]:
True or False

True

In [23]:
not False

True

In [24]:
i = 0
while i < 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
def fun(x, y):
    print(x+y)
    return x*y

In [28]:
fun(10, 2)

12

20

In [29]:
arr = [10, True, "Sanket", 56.7, []]

In [30]:
print(arr)

[10, True, 'Sanket', 56.7, []]

In [31]:
arr[1]

True

In [32]:
arr[0] = 678

In [33]:
arr

[678, True, 'Sanket', 56.7, []]

In [34]:
var = {10: "India", 20: "Nepal", 30: "Iran"}

In [35]:
print(var)

{10: 'India', 20: 'Nepal', 30: 'Iran'}

In [37]:
var[10]

'India'

In [38]:
var[40] = "China"

In [39]:
var

{10: 'India', 20: 'Nepal', 30: 'Iran', 40: 'China'}

In [40]:
a = [10, 20, 30]

In [41]:
a.append(40)

In [42]:
a

[10, 20, 30, 40]

In [43]:
a.insert(2, 130)

In [44]:
a

[10, 20, 130, 30, 40]

In [45]:
a = [10, 20, 30, 40]

In [46]:
a

[10, 20, 30, 40]

In [47]:
a[0:2]

[10, 20]

In [48]:
str = "abcd"
str[0:2]

'ab'

In [49]:
str="BMLmunjal"
str[-4:]

'njal'

In [50]:
str[0]

'B'

In [51]:
str[-1]

'l'

In [52]:
str[-2]

'a'

In [53]:
T = {"Hell": {'o':2, 'i':1},
    "ello": {' ':2}}

In [54]:
T

{'Hell': {'o': 2, 'i': 1}, 'ello': {' ': 2}}

In [55]:
T.get("Hell")

{'o': 2, 'i': 1}

In [57]:
print(T.get("Coding"))

None

In [58]:
T

{'Hell': {'o': 2, 'i': 1}, 'ello': {' ': 2}}

In [60]:
X = "Code"
Y = {}
T[X] = {}

In [61]:
T

{'Hell': {'o': 2, 'i': 1}, 'ello': {' ': 2}, 'Code': {}}

In [62]:
Y = "y"
T[X][Y]=1

In [63]:
T

{'Hell': {'o': 2, 'i': 1}, 'ello': {' ': 2}, 'Code': {'y': 1}}

In [64]:
T["Hell"]

{'o': 2, 'i': 1}

In [65]:
T["Hell"]["r"]=1
print(T)

{'Hell': {'o': 2, 'i': 1, 'r': 1}, 'ello': {' ': 2}, 'Code': {'y': 1}}

In [67]:
print(T["Hell"].get("l"))

None

In [68]:
T

{'Hell': {'o': 2, 'i': 1, 'r': 1}, 'ello': {' ': 2}, 'Code': {'y': 1}}

In [69]:
T["Hell"]

{'o': 2, 'i': 1, 'r': 1}

In [73]:
s = sum(T["Hell"].values())

In [72]:
T["Hell"]

{'o': 2, 'i': 1, 'r': 1}

In [74]:
T["Hell"]['o']/=s

In [75]:
T

{'Hell': {'o': 0.5, 'i': 1, 'r': 1}, 'ello': {' ': 2}, 'Code': {'y': 1}}

In [76]:
a = ["apples", "Mangoes", "Grapes"]

In [81]:
probab = [0.6, 0.3, 0.1]

In [78]:
import numpy as np

In [83]:
for i in range(100):
    print(np.random.choice(a, p=probab))

apples
Mangoes
apples
apples
apples
apples
Mangoes
Grapes
Mangoes
Mangoes
apples
Grapes
Mangoes
apples
Mangoes
apples
apples
apples
Mangoes
apples
Mangoes
Mangoes
Grapes
Grapes
Mangoes
Mangoes
Mangoes
apples
apples
apples
Mangoes
apples
apples
apples
apples
apples
apples
apples
Mangoes
Grapes
Grapes
apples
Mangoes
Grapes
apples
apples
apples
Mangoes
apples
apples
Mangoes
Mangoes
Grapes
apples
apples
apples
apples
apples
apples
Grapes
Grapes
apples
apples
Mangoes
Mangoes
Mangoes
apples
apples
Mangoes
Grapes
Mangoes
apples
apples
apples
apples
apples
apples
apples
apples
Mangoes
apples
Mangoes
apples
Grapes
apples
Mangoes
apples
apples
apples
apples
apples
Mangoes
Grapes
Grapes
apples
Mangoes
apples
Mangoes
apples
apples